

.center {
            margin: auto;
            width: 510px;
            height: 280px;
            border: 1px solid #a7a7a7;
            padding: 20px;
            font-size: 20pt;
            font-family: Arial, Helvetica, sans-serif;
        }

        .email {

            font-family: Arial, Helvetica, sans-serif;
            font-size: 10pt;
            width: 100%;

        }

        .button {
            width: 510px;
            height: 30px;
            border-color: rgb(216, 149, 26);
        }

        .need-help {

            color: blue;

        }

        .new {
            color: rgb(107, 107, 107);
            text-align: center;
            padding: 40px;
        }

        .line {
            height: 1px;
            width: 5px;
            background-color: #d4d4d4;
            position: absolute;
            width: 100%;
            top: 18%;
            display: inline-block;
            width: 25%;
            margin-left: 60px;


        }

        .strikethrough {
            position: relative;
        }

        .inputfield {
            height: 25px;
            width: 500px;
        }

        .passwordstyle {
            padding-left: 25px;
            display: inline-block;
        }

        .resetpass {
            color: blue;
            padding-left: 300px;

        }

        .createaccount {
            height: 30px;
            width: 510px;
        }

        .footer {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;

        }

        .links {
            padding: 40px;
            color: blue;
            margin-top: 100px;
        }